<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <header class="header">
          <div class="row">
            <div class="col-md-4">
              <h1>Durata de rotatie</h1>
            </div>
            <div class="col-md-6">

            </div>
            <div class="col-md-2">
            </div>
          </div>
        </header>
      </section>

      <hr>
      <button id="dr" type="button" class="btn btn-success" (click)="calculNecesarFondRulment()" >Calcul necesar fond rulment</button>
      <label>{{rez.valoareNFR}}</label>
      <hr>

      <button id="dr" type="button" class="btn btn-success" (click)="calculCifraDeAfaceri()" >Cifra de afaceri</button>
      <label>{{rez.valoareCA}}</label>
      <hr>

      <button id="dr" type="button" class="btn btn-success" (click)="calculDurataRotatie()" >Calcul durata de rotatie</button>
      <label>{{rez.valoareDR}}</label>
      <hr>

    </div>
  </div>
</div>
