<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!-- <h1> -->
    <!-- Bine ati venit in aplicatia SIE! -->
  <!-- </h1> -->
</div>
<nav>

  <a routerLink="/cont" routerLinkActive="active" class="btn btn-primary">Conturi</a>
  <!-- <a routerLink="/cont" routerLinkActive="active" class="btn btn-primary">Obtinere informatii</a> -->
  <a routerLink="/trezorerie" routerLinkActive="active" class="btn btn-primary">Trezorerie</a>
  <a routerLink="/durata-rotatie" routerLinkActive="active" class="btn btn-primary">Durata de rotatie</a>
  <a routerLink="/rms" routerLinkActive="active" class="btn btn-primary">Rata marjei de siguranta</a>
  <a routerLink="/rnfr" routerLinkActive="active" class="btn btn-primary">Rata necesarului fondului de rulment</a>

</nav>
<router-outlet></router-outlet>
