<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <header class="header">
          <div class="row">
            <div class="col-md-4">
              <h1>Rata marjei de siguranta</h1>
            </div>
            <div class="col-md-6">

            </div>
            <div class="col-md-2">
            </div>
          </div>
        </header>
      </section>

      <hr>
      <button id="rms" type="button" class="btn btn-success" (click)="calculFondRulment()">Calcul fond rulment</button>
      <label>{{rez.valoareFR}}</label>
      <hr>

      <button id="rms" type="button" class="btn btn-success" (click)="calculCifraDeAfaceri()" >Calcul cifra de afaceri</button>
      <label>{{rez.valoareCA}}</label>
      <hr>

      <button id="rms" type="button" class="btn btn-success" (click)="calculRata()" >Calcul rata</button>
      <label>{{rez.valoareRMS}}</label>
      <hr>

    </div>
  </div>
</div>
