<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <header class="header">
          <div class="row">
            <div class="col-md-4">
              <h1>Trezorerie</h1>
            </div>
            <div class="col-md-6">

            </div>
            <div class="col-md-2">
            </div>
          </div>
        </header>
      </section>

      <hr>
      <button id="trz" type="button" class="btn btn-success" (click)="calculFondRulment()">Calcul fond rulment</button>
      <label>{{rez.valoareFR}}</label>
      <hr>

      <button id="trz" type="button" class="btn btn-success" (click)="calculNecesarFondRulment()" >Calcul necesar fond rulment</button>
      <label>{{rez.valoareNFR}}</label>
      <hr>

      <button id="trz" type="button" class="btn btn-success" (click)="calculTrezorerie()" >Calcul valoare trezorerie</button>
      <label>{{rez.valoareTRZ}}</label>
      <hr>

    </div>
  </div>
</div>
